<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>index - Vue Webpack Example</title>
    
  <link href="/Public/css/vendors.css" rel="stylesheet"><link href="/Public/css/another/index.css" rel="stylesheet"></head>
  <body>
    <div id="app">
      <app></app>
    </div>
    
  <script type="text/javascript" src="/Public/js/vendors.c7983ec9fe568e6796f9.js"></script><script type="text/javascript" src="/Public/js/another/index.c7983ec9fe568e6796f9.js"></script></body>
</html>